/* styles/Home.module.css */

/* Container para o vídeo de fundo */
.container {
    position: relative;
    height: 100vh; /* Faz o container ocupar toda a altura da tela */
    overflow: hidden; /* Garante que o vídeo não ultrapasse os limites da tela */
  }
  
  /* Estilo para o vídeo */
  .videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz o vídeo cobrir toda a tela */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
  }
  
  /* Estilo para o conteúdo sobre o vídeo */
  .content {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique sobre o vídeo */
    color: white;
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  p {
    font-size: 1.5rem;
  }